@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Prompt:wght@300;400;600;700&display=swap');

:root {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

html,
body {
	margin: 0;
}

.layout {
	display: grid;
	grid-template-columns: 26rem 1fr;
	gap: 1rem;
	height: calc(100dvh - 10.5rem);
}

.shadow {
	padding: .5rem;
	background: #fbfbfb;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
}

.toolBar {
	display: flex;
	overflow-x: clip;
	overflow-y: auto;
	flex-direction: column;
	gap: .5rem;
	align-items: stretch;
}

.toolBar-header {
	position: sticky;
	top: -0.5rem;
	margin: -0.5rem;
	background: white;
	z-index: 900;
	padding: 0.5rem;
	margin-bottom: 0;
	padding-bottom: 0;
}

.cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	font-size: 11px;
}

.weekLayout {
	display: grid;
  gap: .5rem;
  overflow: auto;
	grid-template-columns:
		[H-start]       minmax(max-content, 1fr)
		[H-end M-start] minmax(max-content, 1fr)
		[M-end T-start] minmax(max-content, 1fr)
		[T-end W-start] minmax(max-content, 1fr)
		[W-end R-start] minmax(max-content, 1fr)
		[R-end F-start] minmax(max-content, 1fr)
		[F-end S-start] minmax(max-content, 1fr) [S-end];
	grid-template-rows:
		[start-week] minmax(50px, 1fr)
		[end-week h-06] minmax(min-content, 1fr)
		[h-07] minmax(min-content, 1fr)
		[h-08] minmax(min-content, 1fr)
		[h-09] minmax(min-content, 1fr)
		[h-10] minmax(min-content, 1fr)
		[h-11] minmax(min-content, 1fr)
		[h-12] minmax(min-content, 1fr)
		[h-13] minmax(min-content, 1fr)
		[h-14] minmax(min-content, 1fr)
		[h-15] minmax(min-content, 1fr)
		[h-16] minmax(min-content, 1fr)
		[h-17] minmax(min-content, 1fr)
		[h-18] minmax(min-content, 1fr)
		[h-19] minmax(min-content, 1fr) [h-20];
}

@media screen and (width <= 768px) {
	.layout {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		height: auto;
	}
}

@media print {
	.hide-on-print {
		display: none !important;
	}

	.layout {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		height: auto;
		margin: -1rem;
	}

	div:has(.layout) {
		overflow-y: unset !important;
	}

	.toolBar {
		display: none;
	}

	.cell {
		font-size: 10pt
	}

	.weekLayout {
		width: 100vw;
		display: grid;
		gap: .5rem;
		overflow: unset;
		box-shadow: none;
		background: white;
		grid-template-columns:
			[H-start]       max-content
			[H-end M-start] 1fr
			[M-end T-start] 1fr
			[T-end W-start] 1fr
			[W-end R-start] 1fr
			[R-end F-start] 1fr
			[F-end S-start] 1fr [S-end];
			grid-template-rows:
			[start-week] 50px
			[end-week h-06] min-content
			[h-07] min-content
			[h-08] min-content
			[h-09] min-content
			[h-10] min-content
			[h-11] min-content
			[h-12] min-content
			[h-13] min-content
			[h-14] min-content
			[h-15] min-content
			[h-16] min-content
			[h-17] min-content
			[h-18] min-content
			[h-19] min-content [h-20];
	}
}


